@model VFHCatalogMVC.Application.ViewModels.User.UserSeedVm

<div class="modal fade" id="User">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="editSeedLabel">Edytuj dane nasion</h4>
                        <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                        </button>
                    </div>
         <div class="modal-body">
             @Html.AntiForgeryToken()
                <div class="row">
                @if (ViewBag.Message != null)
                {
                    <span class="text-success">@ViewBag.Message</span>
                }
                </div>
        <form action="EditSeed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>          
                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="PlantId" class="form-control" />
                <input type="hidden" asp-for="DateAdded" class="form-control" />
                <input type="hidden" asp-for="UserId" class="form-control" />
               @* <input type="hidden" asp-for="ContactDetail.Id" class="form-control"/>
                <input type="hidden" asp-for="ContactDetail.ContactDetailTypeID" class="form-control"/>*@
                    @if (User.IsInRole("PrivateUser"))
                    {
                        <div class="form-group">
                            <label asp-for="Count" class="control-label">Ilość</label>
                            <input asp-for="Count" class="form-control" />
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Photo" class="control-label">Zdjęcie do wyszukiwarki</label>*@
                            <input asp-for="Photo" class="form-control" type="file" accept="image/*" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    }
                    @if (User.IsInRole("Company"))
                    {
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Opis/Opinia</label>
                            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactDetail.ContactDetailInformation" class="control-label">Link</label>
                            <input asp-for="ContactDetail.ContactDetailInformation" class="form-control" />
                            <span asp-validation-for="ContactDetail.ContactDetailInformation" class="text-danger"></span>
                        </div>
                    }
        </form>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" data-url="/User/" data-save="modal">Zapisz</button>
            </div>
        </div>
    </div>
</div>