@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity.UI
@using VFHCatalogMVC.Domain.Model
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white disabled" asp-area="Identity" asp-page="/Account/Manage/PersonalData" title="Manage">Welcome @User.Identity.Name!</a>
    </li>
        @if (User.IsInRole("PrivateUser") || User.IsInRole("Company"))
        {
            <li class="nav-item dropdown bg-dark">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My list
          </a>
          <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexSeeds">Seeds</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexSeedlings">Seedlings</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexNewPlants">Plants submitted to the catalog</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Message" asp-action="IndexMessages">Messages</a></li>
          </ul>
        </li>
           @* <li class="nav-item">
                <a class="nav-link text-dark disabled" asp-area="" asp-controller="Shopping" asp-action="GoToShoppingCart">Koszyk</a>
            </li>*@
        }
        @if (User.IsInRole("Admin"))
        {
         <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My list
            </a>
             <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexNewPlants">New plants</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Message" asp-action="IndexMessages">Messages</a></li>
             </ul>
        </li>        
        }
        <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Log out</button>
        </form>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
