@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity.UI
@using VFHCatalogMVC.Domain.Model
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white disabled" asp-area="Identity" asp-page="/Account/Manage/PersonalData" title="Manage">Witaj @User.Identity.Name!</a>
    </li>
        @if (User.IsInRole("PrivateUser") || User.IsInRole("Company"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moja lista
          </a>
          <ul class="dropdown-menu bg-dark text-white">
            <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexSeeds">Nasion</a></li>
            <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexSeedlings">Sadzonek</a></li>
            <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexNewPlants">Roślin zgłoszonych do katalogu</a></li>
            <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="">Zamówienia</a></li>
          </ul>
        </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Message" asp-action="IndexMessages">Wiadomości</a>
            </li>
           @* <li class="nav-item">
                <a class="nav-link text-dark disabled" asp-area="" asp-controller="Shopping" asp-action="GoToShoppingCart">Koszyk</a>
            </li>*@
        }
        @if (User.IsInRole("Admin"))
        {
         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-dark text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moduły
          </a>
          <ul class="dropdown-menu bg-dark text-white">
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexNewPlants">Nowe rośliny</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Message" asp-action="IndexMessages">Wiadomości</a></li>
                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="User" asp-action="IndexAdminFilters">Filtry</a></li>
          </ul>
            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="IndexMessages">Wiadomości</a>
            </li>*@
           @* <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="IndexAdminFilters">Filtry</a>
            </li>*@
        </li>        
        }
        <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
    </li>
}
</ul>
